body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
    position: relative;
    flex-direction: column;
}

canvas {
    border: 3px blue solid;
}


#inputContainer {
    display: flex;
    align-items: center;
    padding: 0;
}

button {
    background: none;
    color: white;
    border: none;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 5%;
    margin: 2vh 2vw;
    cursor: pointer;
}
button:hover {
    border-color: yellow;
    color: yellow;
}